<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/main.css}">
     <meta codigoSecreto="1670886257 ">
    <script src="https://kit.fontawesome.com/cf5b293412.js" crossorigin="anonymous"></script>

    
        
      
    <title>PWeb - Kalielson Matheus</title>
</head>

<body class="pageBodyZ">
    <div class="topnav"></div>
    <div class="sidebar" id="siderbar1">

    </div>
    <!-- Page content -->
    <div class="content">
        <h1 id="pageTitle">PRINCIPAL</h1>
        <div class="row">
            <div class="column" style="background-image: url('https://imagens.brasil.elpais.com/resizer/9j7n_kgv3bFhQjRtsJUH8qdRUUI=/1500x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/RI5XGBY23K5IP5PZQA44CRYYU4.jpg'); background-position: center;">
                
                <p style="opacity: 0;">
                    O Perseverance está vivo na superfície de Marte”. Assim foi anunciado na sala de controle da agência espacial dos EUA a aterrissagem do veículo em uma cratera do hemisfério norte do planeta, entre aplausos da equipe da missão. O Perseverance
                    um prodígio da técnica de uma tonelada desenvolvido pelos EUA em conjunto com outros países europeus, incluindo a Espanha— é um carro de seis rodas<br> equipado com sete instrumentos científicos.<br> É o veículo mais pesado, complexo e caro que a <strong style="color: #a5142a;">NASA</strong> enviou à superfície de Marte: por volta de 2,2 bilhões de euros (14 bilhões de reais). De acordo com a diretora de voo da missão, o aparelho tem toda a tecnologia necessária para encontrar rastros de vida microbiana de bilhões de anos na cratera. “É um local especial porque tudo indica que lá desembocou um rio. É uma cratera de aproximadamente 45 quilômetros de diâmetro. Olhando as fotos aparece como um leque, como um lugar em que a água e os sedimentos se espalharam”, diz Trujillo.
                </p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>